// _maplayers.scss

$color-measuringbase: #ABE67E;
$color-finishedbase:  #E6E37E;

.layer-measurecollector {
}

.layer-measurearea {
  fill: $color-measuringbase;
  fill-opacity: 0.2;
  stroke-width: 0;
}

.layer-measureboundary {
  stroke: $color-measuringbase;
  stroke-width: 2;
  stroke-opacity: 0.9;
}

.layer-measuredrag, .layer-measurevertex {
  fill: $color-measuringbase;
  stroke: $color-measuringbase;
  stroke-width: 2;
}
.layer-measuredrag {
  fill-opacity: 0.5;
  stroke-opacity: 0.7;
}
.layer-measurevertex {
  fill-opacity: 0.9;
  stroke-opacity: 1;
  &.active {
    fill: darken($color-measuringbase, 40%);
  }
}

.layer-measure-resultarea {
  fill: $color-finishedbase;
  fill-opacity: 0.2;
  stroke: $color-finishedbase;
  stroke-width: 2;
  stroke-opacity: 0.9;
}
.layer-measure-resultline {
  stroke: $color-finishedbase;
  stroke-width: 3;
  stroke-opacity: 0.9;
}
.layer-measure-resultpoint {
  fill: $color-finishedbase;
  fill-opacity: 0.9;
  stroke: $color-finishedbase;
  stroke-width: 2;
  stroke-opacity: 1;
}