<a class="<%= model.className %>-toggle js-toggle" href="#" title="Measure distances and areas">Measure</a>
<div class="<%= model.className %>-interaction js-interaction">
  <div class="js-startprompt startprompt">
    <h3>Measure Distances and Areas</h3>
    <ul class="tasks">
      <a href="#" class="js-start start">Create a new measurement</a>
    </ul>
  </div>
  <div class="js-measuringprompt">
    <h3>Measure Distances and Areas</h3>
    <p class="js-starthelp">Start creating a measurement by adding points to the map</h3>
    <div class="js-results results"></div>
    <ul class="js-measuretasks tasks">
      <li><a href="#" class="js-cancel cancel">Cancel</a></li>
      <li><a href="#" class="js-finish finish">Finish Measurement</a></li>
    </ul>
  </div>
</div>